$main-background: #ffffff;
$primary-color: #3bd672;
$secondary-color: #747474;
$normal-color: #63ffbd;
$normal-background-color: #3bd672;
$error-color: #ff9595;
$error-background-color: #de484a;
$allErrors-color: #ff8c8c;
$loading-color: #58d0ff;

* {
  margin: 0;
  padding: 0;
  user-select: none;
  text-decoration: none;
}

body {
  background-color: #f6f8fa;
  background-image: url("/images/background.png");
  background-attachment: fixed;
  overflow-y: overlay;
  overflow-x: hidden;
  font-family: "HarmonyOS_Regular", sans-serif;
}

#root {
  width: 100%;
  #header {
    color: #fff;
    position: relative;
    height: 360px;
    padding: 30px 0 48px 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #00bbff 0%, #0088ff 100%);
    z-index: 0;
    .cover {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
      &.loading {
        background: linear-gradient(to right, #00bbff 0%, #0088ff 100%);
      }
      &.error {
        background: linear-gradient(to right, #e47e7e 0%, #ee5555 100%);
      }
      &.allError,
      &.wrong {
        background: linear-gradient(to right, #ee5555 0%, #ff2b2b 100%);
      }
      &.normal {
        background: linear-gradient(to right, #4fd69c 0%, #24a66e 100%);
      }
    }
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        .logo {
          font-size: 20px;
          font-weight: bold;
        }
      }
      .status {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto 0 2px 20px;
        .icon {
          position: relative;
          width: 40px;
          height: 40px;
          min-width: 40px;
          background-color: $main-background;
          border-radius: 50%;
          margin-right: 26px;
          &::after {
            content: "";
            background-color: $loading-color;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 50%;
            opacity: 1;
            animation: breathing 2s ease infinite;
            transition: background-color 1s;
          }
          &.error {
            &::after {
              background-color: $error-color;
            }
          }
          &.allError,
          &.wrong {
            &::after {
              background-color: $allErrors-color;
            }
          }
          &.normal {
            &::after {
              background-color: $normal-color;
            }
          }
        }
        .r-text {
          display: flex;
          flex-direction: column;
          .text {
            font-size: 40px;
            font-weight: bold;
          }
          .tip {
            font-size: 14px;
            margin-top: 4px;
            opacity: 0.8;
            .time {
              span {
                &:nth-of-type(2) {
                  &::before {
                    content: "|";
                    margin: 0 8px;
                  }
                }
              }
            }
          }
        }
        @media (max-width: 520px) {
          .icon {
            width: 30px;
            height: 30px;
            min-width: 30px;
          }
          .r-text {
            .text {
              font-size: 34px;
            }
            .tip {
              font-size: 13px;
            }
          }
        }
        @media (max-width: 420px) {
          height: 100%;
          justify-content: center;
          margin: 0 0 2px 0;
          .icon {
            display: none;
          }
          .r-text {
            .text {
              font-size: 30px;
            }
            .tip {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  #main {
    .container {
      padding: 20px;
      transform: translateY(-40px);
      .all-site {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 200px;
        border-radius: 16px;
        background-color: $main-background;
        box-shadow: 0 10px 30px #0000001a;
        .loading {
          width: 36px;
          height: 36px;
          border: 4px solid #ededed;
          border-top-color: #858585;
          border-radius: 50%;
          animation: spin 0.8s infinite linear;
        }
        .sites {
          width: 100%;
          .site {
            padding: 30px;
            border-bottom: 1px solid #e6e7e8;
            &:nth-last-child(1) {
              border-bottom: none;
            }
            &.error {
              background-color: #ff00000f;
              .timeline {
                .line {
                  &.none {
                    background-color: #ffffff;
                  }
                }
              }
            }
            .meta {
              display: flex;
              flex-direction: row;
              align-items: center;
              .link {
                cursor: pointer;
                color: #a0a0a0;
                margin-left: 8px;
                transition: color 0.3s;
                &:hover {
                  color: $primary-color;
                }
              }
              .status {
                display: flex;
                align-items: center;
                flex-direction: row;
                margin-left: auto;
                font-size: 14px;
                color: $normal-background-color;
                &.error {
                  color: $error-background-color;
                  .icon {
                    background-color: $error-background-color;
                    &::after {
                      background-color: $error-background-color;
                    }
                  }
                }
                .icon {
                  position: relative;
                  width: 12px;
                  height: 12px;
                  background-color: $normal-background-color;
                  border-radius: 25px;
                  margin-right: 8px;
                  &::after {
                    content: "";
                    background-color: $normal-background-color;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    border-radius: 50%;
                    opacity: 1;
                    animation: breathing 1.5s ease infinite;
                    transition: background-color 1s;
                  }
                }
                @media (max-width: 420px) {
                  .icon {
                    margin-right: 0;
                  }
                  .tip {
                    display: none;
                  }
                }
              }
            }
            .timeline {
              display: flex;
              justify-content: space-between;
              flex-direction: row;
              margin: 15px 0 10px;
              .line {
                cursor: pointer;
                border-radius: 6px;
                flex-grow: 1;
                height: 26px;
                margin: 0 1px;
                background-color: $normal-background-color;
                transition: transform 0.3s;
                &:first-child {
                  margin-left: 0;
                }
                &:last-child {
                  margin-right: 0;
                }
                &.error {
                  background-color: $error-background-color;
                }
                &.none {
                  background-color: #e5e8eb;
                }
                &:hover {
                  transform: scale(1.05);
                }
                @media (max-width: 420px) {
                  margin: 0;
                  border-radius: 0;
                  &:first-child {
                    border-radius: 6px 0 0 6px;
                  }
                  &:last-child {
                    border-radius: 0 6px 6px 0;
                  }
                  &:hover {
                    transform: none;
                  }
                }
              }
            }
            .summary {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              color: $secondary-color;
              font-size: 13px;
              @media (max-width: 768px) {
                .now,
                .day {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 0 40px 0;
    .social {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 6px;
      .link {
        color: $secondary-color;
        margin: 0 8px;
        transition: transform 0.3s;
        &:hover {
          transform: scale(1.1);
        }
        .i-icon {
          font-size: 18px;
        }
      }
    }
    .text {
      text-align: center;
      font-size: 13px;
      line-height: 26px;
      color: $secondary-color;
      .link {
        color: $secondary-color;
        font-weight: bold;
        transition: color 0.3s;
        cursor: pointer;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  .container {
    box-sizing: border-box;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

// 呼吸动画
@keyframes breathing {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

// 旋转动画
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// 切换动画
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease;
}

// 状态浮窗
.status-tooltip {
  display: flex;
  flex-direction: column;
  .time {
    font-size: 12px;
    opacity: 0.6;
  }
}

// 滚动条
.ms-track-global {
  .ms-track {
    background: transparent !important;
    border-color: transparent !important;
    &:hover {
      background: transparent !important;
      border-color: transparent !important;
    }
    .ms-thumb {
      cursor: pointer;
      right: 0 !important;
      background-color: #2e2e2e80 !important;
      &:hover {
        width: 10px !important;
      }
    }
  }
}
